<b>🏦 Выписка по счету <code>{{ account_id }}</code> за текущий месяц</b>

<b>💳 Переводы:</b>
{% for operation in operations_sent %}
<b>👥 Счет получателя: <code>{{ operation.sent_to }}</code></b>
<b>💸 Сумма перевода: <strong>{{ operation.amount }} руб.</strong></b>
<b>📅 Дата: {{ operation.operation_time }}</b>
{% endfor %}

<b>💰 Пополнения:</b>
{% for operation in operations_received %}
<b>👥 Счет отправителя: <code>{{ operation.received_from }}</code></b>
<b>💸 Сумма пополнения: <strong>{{ operation.amount }} руб.</strong></b>
{% if operation.postcard_url %}
<b>💌 Посмотреть открытку: {{ operation.postcard_url }}</b>
{% endif %}
<b>📅 Дата: {{ operation.operation_time }}</b>
{% endfor %}

<b>💵 Итоговая сумма за период: {{ total_amount }} руб.</b>
