<b>🏦 К вашему счету привязано ровно {{ cards|length }} карт.</b>
<b>💰 С общей суммой <strong>{{ total_money }} руб.</strong></b>
<b>💳 Ваши карты:</b>
{% for card in cards %}

<b>🔢 Номер: <code>{{ card.card_id }}</code></b>
<b>💵 Баланс: <strong>{{ card.balance }} руб.</strong></b>
{% endfor %}
