<b>🥇 Профиль</b>

<b>⚙️ ID: <code>{{ user.telegram_id }}</code></b>

<b>🤖 Имя пользователя: {{ user.username }}</b>

<b>ℹ️ Полное имя: {{ user.full_name }}</b>

<b>📞 Номер телефона: <code>{{ user.phone }}</code></b>