<b>💰 Пополнение!</b>
<b>👥 Счет отправителя: <code>{{ operation.received_from }}</code></b>
<b>💸 Сумма пополнения: <strong>{{ operation.amount }} руб.</strong></b>
{% if operation.postcard_url %}
<b>💌 Посмотреть открытку: {{ operation.postcard_url }}</b>
{% endif %}
<b>📅 Дата: {{ operation.operation_time }}</b>