<b>👋 Добро пожаловать, {{ user.first_name }}!</b>
<b>🆔 Ваш ID: <code>{{ user.telegram_id }}</code></b>

<b>📋 Мои команды:</b>
/start - <i>начало работы со мной</i>
/set_phone - <i>установить номер телефона</i>
/me - <i>вывести информацию о тебе (только если введен номер телефона)</i>
/open_account - <i>для открытия счета в банке</i>
/open_card - <i>выпуск карты</i>
/total_money - <i>для получения информации о счете</i>
/deposit - <i>для пополнения случайной карты :)</i>
/favorites - <i>для получения списка избранных</i>
/change_favorites - <i>для изменения списка избранных</i>
/transfer_money - <i>для перевода средств</i>
/statement - <i>для получения выписки по счету за месяц</i>
/interactions - <i>для получения всех взаимодействий</i>
/check_incomes - <i>для просмотра новых поступлений</i>